*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    background-color: #F5F5F5;
}
::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
    background-color: rgba(0,0,0,0.15);
}

.center{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.center-vertical{
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.central-A{
    position: relative;
}
.central-B{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#app{
    width: 100vw;
    height: 100vh;
    opacity: 0;
}
.load{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    background-color: #d6d6d6e0;
}
.load img{
    opacity: .9;
}

nav{
    position: fixed;
    right: -20px;
    top: 20px;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}
nav:hover{
    right: 0px;
}
nav div{
    width: 160px;
    margin-bottom: 10px;
    overflow: hidden;
}
nav a.ac,
nav a:active,
nav a:hover{
    color: wheat !important;
    text-decoration: none;
}
nav a{
    color: snow !important;
    cursor: pointer;
    background-color: rgb(76, 76, 76);
    display: block;
    text-decoration: none;
    position: relative;
}
nav a::before{
    right: 0px;
    bottom: 0px;
    background-color: #eece91;
    position: absolute;
    display: block;
    height: 2px;
    width: 0%;
    content: " ";
}
nav a span{
    padding: 0 5px 5px 5px;
    display: inherit;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}
nav a.ac::before{
    width:100%;
    transition: all 0.3s ease;
}

.book{
    width: 100vw;
    height: 100vh;
}
.page{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.page .content-B,
.page .content{
    width: 100%;
    height: 100%;
    position: relative;
}
.page .content-B{
    width: 50vw;
    float: left;
}
.page .content .title{
    position: relative;
    width: 100%;
    height: 20%;
    text-align: center;
}
.page .content .title h2{
    font-size: 2.6rem;
    bottom: 15%;
    margin: 0;
}
.page .content .title span{
    position: relative;
}
.page .content .title span::before{
    content: ' ';
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #2b2b2b;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.page .content .box{
    float: left;
    height: 80%;
}
.page .content .box .block{
    overflow: hidden;
}
.page .content .show{
    transition: .3s ease-in-out;
    position: relative;
    height: 70%;
}
.page .content .show > .box{
    position: absolute;
    height: 100%;
}
.page .content .index{
    display: none;
    position: relative;
    height: 10%;
}
.page .content .block{
    height: 100%;
}
.page .content .index .item{
    position: relative;
    width: 50px;
    height: 100%;
    float: left;
}
.page .content .index .item span{
    top: 0 !important;
    transform: translate(-50%,10%) !important;
    width: 22px;
    height: 22px;
    background-color: #828282c2;
    border-radius: 100%;
}
.page .content .index .item.ac span{
    background-color: rgba(245, 222, 179, 0.726);
}

#info .part0{
    background-color: #2b2b2b;   
}
#info .part0 h4{
    font-size: 6rem;
    color: wheat;
}


#info .part1{
    text-align: center;
}
#info .part1 img{
    width: 250px;
    border: 5px solid #bfd6ff;
    border-radius: 100%;
}
#info .part1 h2{
    margin: .5rem;
}
#info .part1 h3{
    font-size: 1.5rem;
}
#info .part1 a,
#info .part1 a:hover{
    color: #232323;
}
#info .part1 p{
    font-size: 1.1rem;  
}


#skill{
    background-color: #2b2b2b;
    background-image: url('../img/star.png');
}
#skill .content{
    height: 100%;
    transform: translate(-50%,-50%);
}
#skill .content .title::before{
    content: '方框大小 代表喜好程度';
    color: snow;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}
#skill .content .title h2{
    color: wheat;
}
#skill .content .title span::before{
    background-color: wheat;
}
#skill .box .block{
    width: 20rem;
    height: 20rem;
}
#skill .box .item{
    background-color: #2b2b2b;
    position: relative;
    float: left;
    color: snow;
    text-align: center;
    padding: 5px;
}
#skill .box .item .line{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#skill .box .item .line::before{
    content: ' ';
    cursor: pointer;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border: 2px solid #eece91;
}
#skill .box .item h4{
    cursor: pointer;
    transition: .3s ease-in-out;
    font-size: 130%;
}
#skill .box .item .line:hover h4{
    font-size: 160%;
}

#projects{
    background-color: #fffcec;
}
#projects .content{
    background: url('../img/star2.png') fixed;
}
#projects .block{
    height: auto;
    box-shadow: 0 0 5px #404040;
}
#projects .box .item{
    background-color: #404040;
    text-align: center;
}
#projects .box .item h3{
    margin: 0;
    padding: 8px 12px 8px 12px;
    color: snow;
}
#projects .box .item .img_box{
    overflow: hidden;
}
#projects .box .item img{
    width: 100%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
#projects .box .item img:hover{
    transform: scale(1.1);
}

#history{
    background: url(../img/star2.png) fixed;
}
#history .title span{
    color: dodgerblue;
}
#history .title span::before{
    background-color: dodgerblue;
}
#history .block{
    position: relative;
}
#history .box{
    width: 90%;
}
#history .box .date{
    border-bottom: 1px solid darkorange;
    list-style-type: none;
    text-align: center;
}
#history .box .date p{
    margin: 0;
}
#history .box .text{
    list-style-type: none;
}
#history .box .text p{
    margin: 1% 0% 1% 3%;
}
#history .box .item:nth-child(even) .date{
    border-bottom: 1px solid darkorchid;
}

@media (max-width: 900px){
    .page .content-B,
    .page{
        width: 100vw;
    }
    .page .content .index{
        display: block;
    }
    nav{
        display: none;
    }
    nav:hover{
        right: -100px;
    }
    nav a span{
        text-align: left;
    }
    #info .part0{
        display: none;
    }
}