$color_line: rgb(255, 201, 102);
$color_line_deep: orange;

$color_nav_background: rgba(90, 90, 90, .5);
$color_nav_sidebar: #635a5a;
$color_footer_background: #4a4747;
$color_footer_light: #f7e9d0;

$color_blog_background: #fdfdfd;

$color_text_title: #423723;
$color_text_title_deep: #2d2310;
$color_text_p: #4b4f52;
$color_text_p_deep: #212529;