<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <title>EienYukiの部屋</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <link href =“https://fonts.googleapis.com/css?family= Play ”rel =“stylesheet”>
    <link href="css/main.css" rel="stylesheet">
    <script type="application/ld+json">
        {
            "@context":"http://schema.org",
            "@type":"WebPage",
            "@id":"me.asutora.com",
            "name": "EienYuki",
            "url": "https://me.asutora.com",
            "description": "喜歡寫程式、管理網路 偶爾也會畫畫"
        }
    </script>
</head>
<body>
    <div class="central-A load"><img class="central-B" src="./img/Reload-1s-200px.svg" alt=""></div>
    <div id="app">
        <nav>
            <div v-for="r in nav_item">
                <a v-bind:data-index="r.index" v-on:click="nav_click(r.index)"><span>{{r.text}}</span></a>
            </div>
        </nav>
        <div class="book">
            <div id="info" class="page" data-index="1">
                <div class="central-A content-B part0">
                    <div class="central-B">
                        <h4>Hello</h4>
                    </div>
                </div>
                <div class="central-A content-B part1">
                    <div class="central-B">
                        <img src="./img/!練習56-5.png" alt="">
                        <h2>EienYuki</h2>
                        <h3>midorin452@gmail.com</h3>
                        <div>
                            <a href="https://www.facebook.com/profile.php?id=100001002894512" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                            <a href="https://github.com/EienYuki" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                        </div>
                        <p>
                            喜歡寫程式、管理網路<br>
                            偶爾也會畫畫
                        </p>
                    </div>
                </div>
            </div>
            <div id="projects" class="page" data-index="3">
                <div class="content">
                    <div class="title"><h2 class="center"><span>Projects</span></h2></div>
                    <div class="container show">
                        <div v-for="r in projects_item" class="col-lg-4 box" v-bind:data-index="r.index">
                            <div class="block">
                                <div class="item">
                                    <h3>{{r.name}}</h3>
                                    <div class="img_box">
                                        <img v-bind:src="r.img" v-on:click="projects_goto(r.url)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="skill" class="page" data-index="2">
                <div class="center content">
                    <div class="title"><h2 class="center"><span>Skill</span></h2></div>
                    <div class="show">
                        <div v-for="r in skill_item" class="col-lg-4 box" v-bind:data-index="r.index">
                            <div class="center block">
                                <div v-for="r2 in r.sub" class="item" v-bind:style="r2.size">
                                    <div class="line">
                                        <h4 class="center">{{r2.name}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="index">
                        <div class="center block">
                            <div v-for="r in skill_item" class="item" v-bind:data-index="r.index">
                                <span class="center" v-on:click="index_click('#skill', r.index)"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="history"class="page" data-index="4">
                <div class="central-A content">
                    <div class="title"><h2 class="center"><span>History</span></h2></div>
                    <div class="container block">
                        <div class="center box">
                            <ul v-for="r in history_item" class="item">
                                <li v-bind:class="r.type">
                                    <p>{{r.text}}</p>
                                </li>
                                <div class="sub">
                                    <li v-for="r2 in r.sub" v-bind:class="r2.type">
                                        <p>{{r2.text}}</p>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>